<!DOCTYPE html>
<html>
<head>
    <style>


        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #e9e9e9;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }



                .topnav a.active {
                    background-color: #2196F3;
                    color: white;
                }


            .topnav input[type=text] {
                padding: 6px;
                margin-top: 8px;
                font-size: 17px;
                border: none;
                width: 120px;
            }
    </style>
</head>
<body>

    <div class="topnav">
        <a class="active" href="#Logo">Logo</a>
        <a href="#aboutus">About</a>
        <a href="#Signin">Signin</a>
        <a href="#Signout">Signout</a>
        <a href="#contactus">Contact</a>


    </div>
    <div>
        <img src="https://media.glassdoor.com/l/1161586/claysys-technologies-office.jpg" alt="Claysys image" style="width:50%"><br />
        <img src="https://www.claysys.com/app/uploads/2020/01/ClaySys-Campus-Solar-Panels-1.jpg" alt="Claysys campus image" style="width:50%">
    </div>
    <footer>
        <a href="/about/about_copyright.asp" class="ga-bottom">Copyright</a>
        <br>
        <a href="mailto:hege@example.com">hege@example.com</a>
        <br />
        <a href=" youtube"> Youtube channel</a>
    </footer>



</body>
</html>
